@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: $main-font;
  color: $text-color;
  background-color: #ffb8ca; //$white;

  &.no-scroll {
    @include breakpointTo(desktop) {
      overflow: hidden;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
  margin: 0 auto;

  @include breakpointFrom(mobile) {
    width: 320px;
  }

  @include breakpointFrom(tablet) {
    width: 768px;
  }

  @include breakpointFrom(desktop) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  display: inline-block;
  height: 44px;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 16px;

  color: $brand-color;
  background-color: $white;
  border-radius: 20px;
  border: none;
}

.button--accent {
  color: $white;
  background-color: $brand-color;
}
