// Основной цвет шрифта, кнопок, логотипа
$brand-color: #D41443;
$brand-accente: #FFA5BA;

// Основной цвет бекграунда
$bc-color: #FFB8CA;
$bc-light: #FFF5F6;
$bc-cafe: #F0D1A5;
$bc-green: #C2E297;


// Основной текст описания
$text: #000000;
$subtext: #907E82;
$white: #fff;