// Основной цвет шрифта, кнопок, логотипа
$brand-color: #D41443;
$brand-accente: #FFA5BA;

// Основной цвет бекграунда
$bg-color: #FFB8CA;
$bg-light: #FFF5F6;
$bg-cafe: #F0D1A5;
$bg-green: #C2E297;


// Основной текст описания
$text: #000000;
$subtext: #907E82;
$white: #fff;