<section class="about" id="about">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how its made?</h2>
    <div class="about__thumb">
      <picture>
        <source
          srcset="
            ./images/about/milka1x-descktop.png 1x,
            ./images/about/milka2x-descktop.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/about/milka1x-tablet.png 1x,
            ./images/about/milka2x-tablet.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/about/milka1x-mobile.png 1x,
            ./images/about/milka2x-mobile.png 2x
          "
          media="(min-width:480px)"
        />
        <img class="" src="./images/about/milka1x-mobile.png" alt="cow" />
      </picture>
      <div class="about__block">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>

        <p class="about__text about__text--sub">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>

        <p class="about__text about__text--sub">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button
          type="button"
          class="button button--about"
          aria-label="Read more"
          data-btn-open="recipe"
        >
          Read more
          <svg class="about__icon">
            <use href="./images/icons.svg#icon-bracket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
