<section class="advantages">
  <h2 class="advantages__header">Advantages list</h2>

  <ul class="advantages__list">
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ./images/advantages/pic11x-advantage-desktop.png 1x,
            ./images/advantages/pic12x-advantage-desktop.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/advantages/pic11x-advantages-tablet.png 1x,
            ./images/advantages/pic12x-advantages-tablet.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/advantages/pic11x-advantages-mobile.png 1x,
            ./images/advantages/pic12x-advantages-mobile.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="advantages__img"
          width="33"
          height="50"
          src="./images/advantages/pic11x-advantages-mobile.png"
          alt=""
        />
      </picture>
      <p class="advantages__number">721</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ./images/advantages/pic21x-advantage-desktop.png 1x,
            ./images/advantages/pic22x-advantage-desktop.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/advantages/pic21x-advantages-tablet.png 1x,
            ./images/advantages/pic22x-advantages-tablet.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/advantages/pic21x-advantages-mobile.png 1x,
            ./images/advantages/pic22x-advantages-mobile.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="advantages__img"
          width="50"
          height="50"
          src="./images/advantages/pic11x-advantages-mobile.png"
          alt=""
        />
      </picture>
      <p class="advantages__number">16kg</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ./images/advantages/pic31x-advantage-desktop.png 1x,
            ./images/advantages/pic32x-advantage-desktop.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/advantages/pic31x-advantages-tablet.png 1x,
            ./images/advantages/pic32x-advantages-tablet.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/advantages/pic31x-advantages-mobile.png 1x,
            ./images/advantages/pic32x-advantages-mobile.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="advantages__img"
          width="44"
          height="50"
          src="./images/advantages/pic11x-advantages-mobile.png"
          alt=""
        />
      </picture>
      <p class="advantages__number">84</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
