<div class="buynow modal">
  <button class="button button--round btn-close" type="button" aria-label="closed">
    <svg class="close-icon">
      <use href="./images/icons.svg#icon-cross" ></use>
    </svg>
  </button>

  <h2 class="modal__title modal-header__title">Buy now</h2>
  <!-- Тут -->
   <form name="form-modal" class="form">
    <label class="form__field">
      <span class="form__label">Name</span>
      <input
        class="form__input"
        type="text"
        name="user-name"
      />
      <span class="form__tooltip">John Smith</span>
    </label>

    <label class="form__field">
      <span class="form__label">Phone</span>
      <input class="form__input" type="tel" name="user-phone"/>
      <span class="form__tooltip">+38 098 - 000 - 00 - 00</span>
    </label>
    <label class="form__field">
      <span class="form__label">Email</span>
      <input class="form__input" type="email" name="user-email"/>
      <span class="form__tooltip">myemail@gmail.com</span></label
    >
    <label class="form__field textarea">
      <span class="textarea__label">Messege</span>
      <textarea
        class="form__input form__area"
        placeholder="Your messege"
        name="user-messege"
      ></textarea>
    </label>
    <button class="form__btn" type="submit" aria-label="Submit">Submit</button>
  </form>
</div>
