<section class="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__text-style contacts-card__title visually-hidden">
      Contacts cards
    </h2>
    <ul id="contact" class="contacts__group">
      <li class="contacts-card contacts-card--first">
        <p class="contacts__text-style contacts-card__class">CAFE</p>
        <p class="contacts__text-style contacts-card__city">Chicago</p>
        <p class="contacts__text-style contacts-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="shedule">
          <li class="shedule__parts">
            <p class="contacts__text-style shedule__days">Monday - Friday</p>
            <p
              class="contacts__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="06:00" property="schema:opens">06:00 AM</time> -
              <time datetime="22:00" property="schema:closes">10:00 PM</time>
            </p>
          </li>
          <li class="shedule__parts">
            <p class="contacts__text-style shedule__days">Saturday - Sunday</p>
            <p
              class="contacts__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="08:00" property="schema:opens">08:00 AM</time> -
              <time datetime="16:00" property="schema:closes">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="adress">
          <li class="adress__link">
            <a
              class="contacts__text-style adress__number"
              href="tel:+610383766284"
              target="_blank"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="adress__link">
            <a
              class="contacts__text-style adress__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card contacts-card--second">
        <h2 class="contacts__text-style contacts-card__class">FOOD TRUCK</h2>
        <p class="contacts__text-style contacts-card__city">Los Angeles</p>
        <p class="contacts__text-style contacts-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="shedule">
          <li class="shedule__parts">
            <p class="contacts__text-style shedule__days">Monday - Friday</p>
            <p
              class="contacts__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="06:00" property="schema:opens">06:00 AM</time> -
              <time datetime="22:00" property="schema:closes">10:00 PM</time>
            </p>
          </li>
          <li class="shedule__parts">
            <p class="contacts__text-style shedule__days">Saturday - Sunday</p>
            <p
              class="contacts__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="08:00" property="schema:opens">08:00 AM</time> -
              <time datetime="16:00" property="schema:closes">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="adress">
          <li class="adress__link">
            <a
              class="contacts__text-style adress__number"
              href="tel:+610383766284"
              target="_blank"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="adress__link">
            <a
              class="contacts__text-style adress__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card contacts-card--third">
        <h2 class="contacts__text-style contacts-card__class">CAFE</h2>
        <p class="contacts__text-style contacts-card__city">New York</p>
        <p class="contacts__text-style contacts-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="shedule">
          <li class="shedule__parts">
            <p class="contacts__text-style shedule__days">Monday - Friday</p>
            <p
              class="contacts__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="06:00" property="schema:opens">06:00 AM</time> -
              <time datetime="22:00" property="schema:closes">10:00 PM</time>
            </p>
          </li>
          <li class="shedule__parts">
            <p class="contacts__text-style shedule__days">Saturday - Sunday</p>
            <p
              class="contacts__text-style shedule__time"
              property="schema:openingHoursSpecification"
              typeof="schema:OpeningHoursSpecification"
            >
              <time datetime="08:00" property="schema:opens">08:00 AM</time> -
              <time datetime="16:00" property="schema:closes">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="adress">
          <li class="adress__link">
            <a
              class="contacts__text-style adress__number"
              href="tel:+610383766284"
              target="_blank"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="adress__link">
            <a
              class="contacts__text-style adress__mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="help-button">
      <button
        class="contacts__text-style button button--accent button--alternate help-button__franchise"
        type="button"
        data-btn-open="locations"
        aria-label="Our Location"
      >
        Our Location
        <svg class="alternate-button__icon" width="5" height="10">
          <use href="./images/icons.svg#icon-bracket"></use>
        </svg>
      </button>
      <button
        class="contacts__text-style button help-button__franchise"
        type="button"
        data-btn-open="franchise"
        aria-label="Franchise"
      >
        Franchise
        <svg class="help-button__icon" width="5" height="10">
          <use href="./images/icons.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
