<section class="customer-reviews">
  <!-- <picture>
    <source
      srcset="
        ../images/custom-services/client11x-descktop.jpg 1x,
        ../images/custom-services/client12x-descktop.jpg 2x
      "
      media="(min-width:1200px)"
    />
    <source
      srcset="
        ./images/team/person1-tablet.jpg    1x,
        ./images/team/person1-tablet@2x.jpg 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
        ./images/team/person1-mobile.jpg    1x,
        ./images/team/person1-mobile@2x.jpg 2x
      "
      media="(min-width:480px)"
    />
    <img
      class="display-block stretchable"
      src="./images/team/person1-mobile.jpg"
      width="450"
      alt="Улыбчивый чувак в очках"
    />
  </picture> -->

  <!-- <img src="../images/" alt="" class="customer-reviews__photo" /> -->
</section>
