<section class="customer-reviews">
  <h2 class="customer-reviews__header visually-hidden">Custmer Reviews</h2>
  <div class="container customer-reviews__container">
    <picture class="customer-reviews__photo">
      <source
        srcset="
          ./images/custom-services/client11x-descktop.png 1x,
          ./images/custom-services/client12x-descktop.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/custom-services/client11x-tablet.png 1x,
          ./images/custom-services/client12x-tablet.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/custom-services/client1x-mobile.png 1x,
          ./images/custom-services/client2x-mobile.png 2x
        "
        media="(min-width:480px)"
      />
      <img
        class=""
        src="./images/custom-services/client11x-descktop.png"
        width="85"
        alt="Client Photo"
      />
    </picture>

    <div class="customer-reviews__quote-wrapper">
      <div class="customer-reviews__quote">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <span class="customer-reviews__person">Emily, Los Angeles</span>
    <div class="customer-reviews__pagination-wrapper">
      <ul class="customer-reviews__pagination">
        <li class="customer-reviews__item">
          <a
            href="/"
            class="customer-reviews__link customer-reviews__link--current"
          >
            <svg class="customer-reviews__icon">
              <use href="./images/icons.svg#icon-home"></use>
            </svg>
          </a>
        </li>
        <li class="customer-reviews__item">
          <a href="/" class="customer-reviews__link"></a>
        </li>
        <li class="customer-reviews__item">
          <a href="/" class="customer-reviews__link"></a>
        </li>
      </ul>
    </div>
  </div>
</section>
