<section id="reviews" class="customer-reviews">
  <div class="container customer-reviews__container">
    <h2 class="customer-reviews__header visually-hidden">Custmer Reviews</h2>
    <div class="reviews__slider">
      <div>
        <picture class="customer-reviews__photo">
          <source
            srcset="
              ./images/custom-services/client11x-descktop.png 1x,
              ./images/custom-services/client12x-descktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/custom-services/client11x-tablet.png 1x,
              ./images/custom-services/client12x-tablet.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/custom-services/client1x-mobile.png 1x,
              ./images/custom-services/client2x-mobile.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class=""
            src="./images/custom-services/client11x-descktop.png"
            width="85"
            alt="Client Photo"
          />
        </picture>

        <div class="customer-reviews__quote-wrapper">
          <div class="customer-reviews__quote">
            <p>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <span class="customer-reviews__person">Emily, Los Angeles</span>
      </div>
      <div>
        <picture class="customer-reviews__photo">
          <source
            srcset="
              ./images/custom-services/client21x-descktop.png 1x,
              ./images/custom-services/client22x-descktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/custom-services/client21x-descktop.png 1x,
              ./images/custom-services/client22x-descktop.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/custom-services/client21x-descktop.png 1x,
              ./images/custom-services/client22x-descktop.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class=""
            src="./images/custom-services/client21x-descktop.png"
            width="85"
            alt="Client Photo"
          />
        </picture>

        <div class="customer-reviews__quote-wrapper">
          <div class="customer-reviews__quote">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
              incidunt est adipisci sit illum totam quae harum repellendus
              praesentium quaerat eaque veniam beatae ullam.
            </p>
          </div>
        </div>
        <span class="customer-reviews__person">Monica, Sydney</span>
      </div>
      <div>
        <picture class="customer-reviews__photo">
          <source
            srcset="
              ./images/custom-services/client31x-descktop.png 1x,
              ./images/custom-services/client32x-descktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/custom-services/client31x-descktop.png 1x,
              ./images/custom-services/client32x-descktop.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/custom-services/client31x-descktop.png 1x,
              ./images/custom-services/client32x-descktop.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class=""
            src="./images/custom-services/client31x-descktop.png"
            width="85"
            alt="Client Photo"
          />
        </picture>

        <div class="customer-reviews__quote-wrapper">
          <div class="customer-reviews__quote">
            <p>
              Eligendi incidunt aperiam cupiditate consequuntur! Eligendi
              nesciunt veniam inventore praesentium facilis eum, natus sint ut
              enim? Quam consectetur, temporibus ipsam velit corporis? Eligendi
              neque dolores molestias ipsa sint delectus. Aperiam vel earum
              commodi quasi, esse sunt?
            </p>
          </div>
        </div>
        <span class="customer-reviews__person">Galyna, Brovary</span>
      </div>
    </div>
  </div>
</section>
