<footer class="footer">footer</footer>
<div class="container"> 
    <div class="handmade">
        <h2 class="handmade__title"></h2>
        <p class="handmade__text"></p>
    </div>
    <div class="socials">
        <ul class="socials__list">
            <li class="socials__box">
                <a class="socials__link" href="">
                    <svg class="socials__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li class="socials__box">
                <a class="socials__link" href="">
                    <svg class="socials__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li class="socials__box">
                <a class="socials__link" href="">
                    <svg class="socials__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="socials__text"><a class="socials__tel" href="tel:+610383766284" target="_blank"></a></p>
    </div>
    <div class="rights-reserved">
        <p class="rights-reserved__text"></p>
    </div>
</div>