<div class="franchise modal">
  <button class="button button--round btn-close" type="button">
    <svg class="close-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>

  <h2 class="modal__title">
    Leave your contacts and we will send you the terms of the franchise
  </h2>
  <form action="/" class="request-form" name="request-form" autocomplete="on">
    <label class="form-field">
      <span class="form-field__label">Name</span>
      <span class="form-field__wrapper">
        <input class="form-field__input" name="person" type="text" />
        <svg class="form-field__icon">
          <use href="./images/icons.svg#icon-person"></use>
        </svg>
      </span>
    </label>
    <label class="form-field">
      <span class="form-field__label">Phone</span>
      <span class="form-field__wrapper">
        <input class="form-field__input" name="phone" type="tel" />
        <svg class="form-field__icon">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
      </span>
    </label>
    <label class="form-field">
      <span class="form-field__label">E-mail</span>
      <span class="form-field__wrapper">
        <input
          class="form-field__input"
          name="email"
          type="email"
          autocomplete="email"
        />
        <svg class="form-field__icon">
          <use href="./images/icons.svg#icon-email-edit"></use>
        </svg>
      </span>
    </label>
    <label class="form-field">
      <span class="form-field__label">Comment</span>
      <span class="form-field__wrapper">
        <textarea
          class="form-field__input form-field__input--multiline form-field__input--extra-margin"
          name="comment"
          placeholder="Enter text"
        ></textarea>
      </span>
    </label>
    <label class="form-field form-field--checkbox">
      <input
        class="form-field__input visually-hidden"
        type="checkbox"
        name="accept"
      />
      <svg class="form-field__check">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
      <span>I consent to the use of my personal data</span>
    </label>
    <button class="request-form__submit button button--accent" type="submit">
      Submit
    </button>
  </form>
</div>
