<section class="gallery" id="gallery">
  <h2 class="gallery__header visually-hidden">gallery</h2>
  <picture>
    <source
      srcset="
        ./images/gallery/collage1x-descktop.jpg 1x,
        ./images/gallery/collage2x-descktop.jpg 2x
      "
      media="(min-width:1280px)"
    />
    <source
      srcset="
        ./images/gallery/collage1x-tablet.jpg 1x,
        ./images/gallery/collage2x-tablet.jpg 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
        ./images/gallery/collage1x-mobile.jpg 1x,
        ./images/gallery/collage2x-mobile.jpg 2x
      "
      media="(min-width:320px)"
    />
    <img
      class="gallery__img"
      src="./images/gallery/collage1x-mobile.jpg"
      alt="gallery"
    />
  </picture>
</section>
