<section class="header">
  <div class="container">
    <div class="header__nav">
      <a href="#" class="logo headder__logo">
        <img src="" alt="Логотип" class="logo__img" width="199"
      /></a>
      <nav class="nav">
        <ul class="nav__items">
          <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#made" class="nav__link">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link">Our products</a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="button__nav"><div class="button__line"></div></button>
      <button class="button header__btn">
        Buy now
        <svg class="header__icon">
          <use href=""></use>
        </svg>
      </button>
    </div>
    <div class="header__hero hero">
      <ul class="hero__body">
        <li class="hero__item">
          <h1 class="hero__title">
            ice cream made with <span class="hero__title--accent">passion</span>
            <a href="" class="hero__button button">Products</a>
            <a href="" class="hero__button button">How it’s made?</a>
          </h1>
        </li>
        <li class="hero__item">
          <div class="hero__group">
            <h2 class="hero__number">16</h2>
            <p class="hero__text">cafes</p>
          </div>
          <div class="hero__group">
            <h2 class="hero__number">23</h2>
            <p class="hero__text">food trucks</p>
          </div>
        </li>
      </ul>

      <div class="hero__product product">
        <img src="" alt="Photo Milk" class="product__img" width="152">
        <div class="product__body">
          <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <a href="" class="product__link"> <svg class="product__icon">
            <use></use>
          </svg></a>
        </div>
      </div>
    </div>
  </div>
</section>
