<div class="icecoffee modal">
  <button class="button button--round btn-close" type="button">
    <svg class="close-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>

  <h2 class="modal__title">About Ice Cream</h2>
  <div class="icecoffee__wrapper">
    <img class="icecoffee__img" src="./images/products/icecoffee1x-mobile.png" alt="Ice Coffee"></img>
    <div class="icecoffee__buy">
      <p class="icecoffee__price">only 34.95 AUD</p>
      <button class="button button--bold" data-btn-open="buynow">
        Buy now
        <svg class="button__icon" width="10">
          <use href="./images/icons.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>
  </div>

  <p class="icecoffee__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
    voluptatum doloribus eos dolores nihil expedita assumenda nam pariatur dicta
    similique in placeat dolore quos minima modi repudiandae, nisi enim. Illum.
  </p>
</div>
