<div class="icecream modal">
  <button class="button button--round btn-close" type="button">
    <svg class="close-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>

  <h2 class="modal__title">About Ice Cream</h2>
  <div class="icecream__wrapper">
    <img class="icecream__img" src="./images/products/icecream1x-mobile.png" alt="Ice Cream"></img>
    <div class="icecream__buy">
      <p class="icecream__price">only 29.95 AUD</p>
      <button class="button button--bold" data-btn-open="buynow">
        Buy now
        <svg class="button__icon" width="10">
          <use href="./images/icons.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>

  </div>

  <p class="icecream__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
    voluptatum doloribus eos dolores nihil expedita assumenda nam pariatur dicta
    similique in placeat dolore quos minima modi repudiandae, nisi enim. Illum.
  </p>
</div>
