<div class="locations modal">
  <button class="button button--round btn-close" type="button">
    <svg class="close-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>

  <h2 class="modal__title">Where to find us</h2>
  <iframe
    class="locations__map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.452326730608!2d151.21687843488763!3d-33.87800269999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae11e63a872d%3A0x8909500a9c090c88!2sGelato%20Messina%20Darlinghurst!5e0!3m2!1suk!2sua!4v1656534972343!5m2!1suk!2sua"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
