<div class="recipe modal">
  <button class="button button--round btn-close" type="button">
    <svg class="close-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>

  <h2 class="modal__title">Ice Сream recipe</h2>
  <div class="recipe__content">
    <h3 class="recipe__sub-header">Ingredients</h3>
    <ul>
      <li class="recipe--accent">Yield: About 1½ pints</li>
      <li>2 cups heavy cream</li>
      <li>1 cup whole milk</li>
      <li>⅔ cup sugar</li>
      <li>⅛ teaspoon fine sea salt</li>
      <li>6 large egg yolks</li>
    </ul>
    <h3 class="recipe__sub-header">Preparation</h3>
    <h4>Step 1</h4>
    <p class="recipe__text">
      In a small pot, simmer heavy cream, milk, sugar and salt until sugar
      completely dissolves, about 5 minutes. Remove pot from heat. In a separate
      bowl, whisk yolks. Whisking constantly, slowly whisk about a third of the
      hot cream into the yolks, then whisk the yolk mixture back into the pot
      with the cream. Return pot to medium-low heat and gently cook until
      mixture is thick enough to coat the back of a spoon (about 170 degrees on
      an instant-read thermometer).
    </p>
    <h4>Step 2</h4>
    <p class="recipe__text">
      Strain through a fine-mesh sieve into a bowl. Cool mixture to room
      temperature. Cover and chill at least 4 hours or overnight. Churn in an
      ice cream machine according to manufacturers’ instructions. Serve directly
      from the machine for soft serve, or store in freezer until needed.
    </p>
  </div>
</div>
