.about {

    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpointFrom(tablet) {
        padding-top: 20px;
        padding-bottom: 80px;
    }

    @include breakpointFrom(desktop) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: contain;

    @include breakpointTo(tablet) {
        background-image: url(../images/about/spilledmilk1x-mobile.png);

        @include breakpointDPR(2) {
            background-image: url(../images/about/spilledmilk2x-mobile.png);
        }
    }

    @include breakpointFrom(desktop) {
        background-image: url(../images/about/spilledmilk1x-descktop.png);

        @include breakpointDPR(2) {
            background-image: url(../images/about/spilledmilk1x-descktop.png);
        }

        background-position: bottom;
        background-size: contain;
    }

    background-color: $bg-light;

}

.about__thumb {

    @include breakpointFrom(tablet) {
        display: flex;
    }





}

.about__label {
    font-family: $brand-font;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: $brand-accent;
    margin-bottom: 15px;

    @include breakpointFrom(tablet) {
        font-size: 26px;
    }

    @include breakpointFrom(desktop) {
        font-size: 30px;
    }
}



.about__title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $brand-color;
    margin-bottom: 32px;

    @include breakpointFrom(tablet) {
        font-size: 48px;
        margin-bottom: 40px;
    }

    @include breakpointFrom(desktop) {
        font-size: 58px;
        margin-bottom: 60px;
    }
}


.about__block {
    margin-top: 40px;
    width: 220px;

    @include breakpointFrom(tablet) {
        margin-left: 32px;
        margin-top: 0;
        width: 335px;
    }

    @include breakpointFrom(desktop) {
        width: 440px;
        margin-left: 140px;
        padding-top: 90px;

    }
}

.about__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $text-color;

    &:not(:last-of-type) {
        margin-bottom: 20px;
    }

    &--sub {
        color: $subtext-color;
    }

    @include breakpointFrom(tablet) {
        font-size: 14px;
        line-height: 1.77;
    }

    @include breakpointFrom(desktop) {
        font-size: 16px;

        &:not(:last-of-type) {
            margin-bottom: 32px;
        }
    }
}

.button--about {
    font-weight: 700;
    width: 176px;
    height: 44px;
    margin-top: 20px;

    @include breakpointFrom(tablet) {
        margin-top: 40px;
    }
}

.about__icon {
    width: 15px;
    height: 15px;
    fill: transparent;
    stroke: $brand-color;
    margin-left: 15px;
}