.advantages__header {
    display: none;
}

.advantages__list {
    display: inline-flex;
    flex-wrap: wrap;
}

.advantages {
    background-color: $bg-light;

}

.advantages__title {
    font-family: $brand-font;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $brand-color;

    position: relative;

    &::before {
        content: " ";
        position: absolute;

        margin-bottom: 16px;

        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &--milk::before {
        width: 33px;
        height: 50px;


    }

    &--apple::before {
        width: 50px;
        height: 50px;


    }

    &--heart::before {
        width: 44px;
        height: 50px;


    }
}