.contacts {
    background-color: $bg-light;

    &__container {
        padding-bottom: 48px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-bottom: 32px;
    }

    &-card {
        padding: 40px 32px;
        background: $white;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        &__title {
            display: inline-block;
            padding: 0 25px;
            margin-bottom: 20px;
            background-color: $bg-cafe;
            color: $white;
            text-align: center;
            border-radius: 4px;
        }

        .contacts-card:nth-child(2n) &__title {
            background-color: $bg-green;
        }

        &__city {
            color: $text-color;
            margin-bottom: 8px;
        }

        &__description {
            line-height: 1.5;
            color: $subtext-color;
            margin-bottom: 24px;
        }
    }
  }


@include breakpointTo(tablet) {
  .contacts {
    &__group {
      padding-top: 105px;
    }
    &-card:first-child {
      position: absolute;
      top: -360px;
    }
  }
}

@include breakpointFrom(tablet) {
}

@include breakpointFrom(desktop) {

}

.shedule {
  display: block;
  margin-bottom: 24px;
  border-top: 1px solid $quote-line-color;
  border-bottom: 1px solid $quote-line-color;
  padding: 24px 0;
  &__parts {
    margin-bottom: 8px;
  }
  &__days {
    color: $text-color;
  }
  &__time {
    color: $brand-accent;
  }
}

.adress {

  &__link {
  }
  &__number {
    color: $subtext-color;
  }
  &__mail {
    color: $subtext-color;
  }
}

.help-button {
  text-align: center;
  margin: 0 auto;


  &__franchise {
    margin-top: 10px;
  }
}

@include breakpointFrom(tablet) {
}

@include breakpointFrom(desktop) {

}
