.locations {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 50%) scale(1.8);
}

.backdrop[data-modal='locations'] .locations {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, -50%) scale(1);
}

.locations {
  position: fixed;
  left: 50%;
  top: 50%;
  // width: 450px;
  max-width: calc(100% - 20px);
  padding: 40px;
  color: $text-color;
  background-color: $bg-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: makeTransition((opacity transform visibility));

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: $text-color;
  }

  &__map {
    max-width: 70vw;
  }
}
