.backdrop[data-modal=''] {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: makeTransition((opacity visibility));
  z-index: 2;
}

.btn-close {
  padding: 0;
  fill: $subtext-color;
  position: absolute;
  top: 8px;
  right: 8px;
  &:hover,
  &:focus {
    fill: $hover-bg-accent-color;
  }
}

.close-icon {
  width: 20px;
  height: 20px;
}

@import './locations';
@import './franchise';
