.goto-top {
  // display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9;
  box-shadow: 2px 2px 4px 0px $brand-color, inset 0px 0px 4px 0px $brand-color;

  transition: makeTransition((transform));

  &.goto-top--hide {
    transform: translateX(200%);
  }

  &__icon {
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
  }
}
